* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.player {
    width: 100%;
    height: 90px;
    background-color: #282828;
    color: #d2d2d2;
    position: fixed;
    bottom: 0px;
    border: 1px solid black;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    text-transform: capitalize;
}

.player .author:hover,
.player .far:hover,
.player .navigator-item:hover,
.player .leftside-play i:hover,
.player .author:hover {
    color: white;
    border: white;
}

.player .leftside-play .audio-bar-line-active:hover,
.player .timebar .time-bar-line-active:hover {
    background-color: white;
}


.player-item {
    display: flex;
    align-items: center;
    flex-grow: 1;

}

.player img {
    width: 42px;
    height: 42px;
}

.player .trackplayed {
    padding: 13px;
}
.player .trackplayed .trackname {
    font-size: 12px;
    font-weight: 700;
    display: block;
}
.player .trackplayed .author{
    font-size: 10px;
    font-weight: 100;
    display: block;
}

#player-navigator {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.player .iconsplayer {
    display: flex;
    flex-direction: column;
}

.player .iconsplayer .far{
    display: none;
}

.player .navigator {
    display: flex;
    align-items: center;
    flex-grow: 2;
}

.navigator-item {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
}

.navigator-item i{
    font-size: 14px;
}

#play {
    border: 2px solid #d2d2d2;;
    border-radius: 50%;
}

#play i{
    padding-left: 2px;
}
.time-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.time-bar-cont {
    width: 90%;
    margin: 0 15px;

}

.time-bar-line {
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background-color: #535353;
    position:relative
}

.time-bar-line-active {
    width: 10%;
    height: 100%;
    border-radius: 50px;
    background-color: #b3b3b3;
    position:absolute;
    left: 0;
}

.time-bar .time {
    display: none;
}

.leftside-play {
    justify-content: flex-end;
}

.leftside-play i {
display: none;
}

.leftside-play .icon-speaker {
    display: block;
}

.audio-bar-cont {
    width: 75px;
    margin: 0 15px;
}

.audio-bar-line {
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background-color: #535353;
    position:relative
}

.audio-bar-line-active {
    width: 70%;
    height: 100%;
    border-radius: 50px;
    background-color: #b3b3b3;
    position:absolute;
    left: 0;
}


.container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside {
    height: 100%;
    float: left;
    background-color: #000;
    color: #d2d2d2;
    display: flex;
    flex-direction: column;
    padding: 5px 11px;
    align-items: center;
    font-size: 14px;

}

aside i {
    font-size: 22px;
}

aside .logo {
    display: flex;
    justify-content: center;
    color: white;
}

aside .logo i {
    padding-bottom: 5px;
    font-size: 28px;
}

aside .logo img {
    display: none;
}

aside p{
    display: none;
}

aside .aside-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 64px;
}

aside .aside-nav {
    display: flex;
    flex-direction: column;
    padding-top: 6px;

}

aside .aside-nav-item {
    display: flex;
    align-items: center;
}

aside .aside-nav-item:hover {
    color:white;
}

aside .aside-nav i {
    padding: 6px 0;
}


main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.black-bar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    height: 90px;
    position: fixed;
    top: 0;
    left: 50px;
    right: 0px;


}

.musics {
    background-color: #141922;
    height: 100%;
    padding-top: 90px;
    overflow-y: auto;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

nav .nav-item {
    color: #a3a3a3;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 23px 12px 5px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item .green-line {
    width: 30px;
    height: 2px;
    margin-top: 6px;
    background-color: rgba(0, 0, 0, 0);
}

.nav-item:hover {
    color: white;
}

.nav-item:hover .green-line {
    background-color: #adff2f;

}

.music {
    width: 100%;
    height: 100%;
    padding-left: 22px;
    color:white;
}

.music h2 {
    width: 100%;
    padding-top: 10px;

}

.music-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    width: 100%;
}

.music-row .music-card {
    padding-top: 20px;
    padding-right: 15px;
    flex: 1 1 170px;
    max-width: 180px;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.music-row img{
    width: 100%;
    height: auto;
}

.music-row .music-card  h3{
    padding: 5px;
    font-size: 18px;
}

.music-row .music-card  span{
    font-size: 13px;
}


@media screen and (min-width: 768px) {

    .player .iconsplayer {
        flex-direction: row;
    }

    .player .iconsplayer .far{
        display: block;
        padding: 2px 8px;
    }

    .navigator-item {
        margin: 0 12px;
    }

    .time-bar .time {
        display: block;
    }

    .leftside-play i {
        padding: 0 6px;
        display: block;
    }


    aside {
        padding: 25px;
        align-items: flex-start;
        flex: 0 0 230px;
    }

    aside .logo {
        justify-content: flex-start;
    }

    aside .iconcont {
        width: 40px;
    }

    aside p{
        display: block;
    }

    aside .logo i {
        display: none;
    }

    aside .logo img {
        display: block;
        height: 40px;
    }
    aside .aside-nav {
        padding-top: 25px;
    }

    aside .aside-nav-item {
        padding-bottom: 15px;
    }
    aside .aside-nav i {
        padding: 8px 0;
    }

    .black-bar {
        top: 0;
        left: 230px;
        right: 0px;
    }

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}
