* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.player {
    width: 100%;
    height: 90px;
    background-color: #282828;
    color: #d2d2d2;
    position: fixed;
    bottom: 0px;
    border: 1px solid black;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    text-transform: capitalize;
}

.player .author:hover,
.player .far:hover,
.player .navigator-item:hover,
.player .rightside-play i:hover,
.player .author:hover {
    color: white;
    border: white;
}

.player .rightside-play .audio-bar-cont:hover .audio-bar-line-active,
.player .time-bar .time-bar-cont:hover .time-bar-line-active{
    background-color: #adff2f;
}

#play:hover {
    border-color: white;
}

.player-item {
    display: flex;
    align-items: center;
    flex-grow: 1;

}

.player img {
    width: 42px;
    height: 42px;
}

.player .trackplayed {
    padding: 13px;
}
.player .trackplayed .trackname {
    font-size: 12px;
    font-weight: 700;
    display: block;
}
.player .trackplayed .author{
    font-size: 10px;
    font-weight: 100;
    display: block;
}

#player-navigator {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.player .iconsplayer {
    display: flex;
    flex-direction: column;
}

.player .iconsplayer .far{
    display: none;
}

.player .navigator {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.navigator-item {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
}

.navigator-item i{
    font-size: 14px;
}

#play {
    border: 1px solid #d2d2d2;;
    border-radius: 50%;
}

#play i{
    padding-left: 2px;
}
.time-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.time-bar-cont {
    width: 90%;
    margin: 0 15px;

}

.time-bar-line {
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background-color: #535353;
    position:relative
}

.time-bar-line-active {
    width: 10%;
    height: 100%;
    border-radius: 50px;
    background-color: #b3b3b3;
    position:absolute;
    left: 0;
}

.time-bar .time {
    display: none;
    font-size: 11px;
}

.rightside-play {
    justify-content: flex-end;
}

.rightside-play i {
display: none;
}

.rightside-play .icon-speaker {
    display: block;
}

.audio-bar-cont {
    width: 75px;
    margin: 0 15px;
}

.audio-bar-line {
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background-color: #535353;
    position:relative
}

.audio-bar-line-active {
    width: 70%;
    height: 100%;
    border-radius: 50px;
    background-color: #b3b3b3;
    position:absolute;
    left: 0;
}


.container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside {
    height: 100%;
    float: left;
    background-color: #000;
    color: #d2d2d2;
    display: flex;
    flex-direction: column;
    padding: 5px 11px 18px 11px;
    align-items: center;
    font-size: 14px;

}

aside i {
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
}

aside .logo {
    display: flex;
    justify-content: center;
    color: white;
}

aside .logo i {
    padding-bottom: 8px;
    font-size: 28px;
}

aside .iconcont{
    padding-top: 8px;
    padding-bottom: 8px;

    text-align: center;
}

aside .logo img {
    display: none;
}

aside p{
    display: none;
}

aside .aside-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 64px;
}

aside .aside-nav {
    display: flex;
    flex-direction: column;
    padding-top: 6px;

}

aside .aside-nav-item {
    display: flex;
    justify-content: center;
    border-left: 2px solid;
    border-color: rgba(0, 0, 0, 0);
    }

aside .aside-nav-item:hover {
    color:white;
}

aside .aside-nav i {
    padding: 6px 0;
}


main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.black-bar {
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.9);
    height: 90px;
    position: fixed;
    top: 0;
    left: 50px;
    right: 0px;
    z-index: 2;
}

.black-bar button {
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    text-transform: uppercase;
    background-color: #020203;
}


.musics {
    background-color: #141922;
    height: 100%;
    padding-top: 90px;
    overflow-y: auto;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

nav .nav-item {
    color: #a3a3a3;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 23px 12px 5px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item .green-line {
    width: 30px;
    height: 2px;
    margin-top: 6px;
    background-color: rgba(0, 0, 0, 0);
}

.nav-item:hover {
    color: white;
}

.nav-item:hover .green-line {
    background-color: #adff2f;

}

.music {
    width: 100%;
    height: 100%;
    padding-left: 22px;
    color:white;
}

.music h2 {
    width: 100%;
    padding-top: 10px;

}

.music-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    width: 100%;
}

.music-row .music-card {
    padding-top: 20px;
    padding-right: 15px;
    flex: 1 1 170px;
    max-width: 180px;
    min-width: 160px;
    text-align: center;
}



.img-play {
    position: relative;
}

.cont-icon-hover-play {
    display: none;
}

.img-play i {
    position: absolute;
    top: 48.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 44px;
    border: 4px solid white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding-top: 7px;
    padding-left: -2px;
    padding-right: 6px;
    padding-bottom:-2px;
    z-index: 1;
}

.music-row img{
    width: 100%;
    height: auto;
}


.music-row .music-card:hover img {
    opacity: 0.5;
}

.music-row .music-card:hover .cont-icon-hover-play {
    display: block;
}

.music-row .music-card  h3{
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
}

.music-row .music-card  span{
    font-size: 13px;
    text-transform: capitalize;
}
.last-row {
    padding-bottom: 110px;
}

.last-row img {
    border-radius: 50%;
}

.first, .second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third, .fourth, .fifth, .sixth, .seventh {
    display: none;
}

@media screen and (min-width: 585px) {
    .third {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 932px) {
    .fourth {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (min-width: 1102px) {
    .fifth {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (min-width: 1272px) {
    .sixth {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
}
@media screen and (min-width: 1442px) {
    .seventh {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
}





@media screen and (min-width: 768px) {

    .player .iconsplayer {
        flex-direction: row;
    }

    .player .iconsplayer .far{
        display: block;
        padding: 2px 8px;
    }

    .navigator-item {
        margin: 0 9px;
    }

    .time-bar .time {
        display: block;
    }

    .rightside-play i {
        padding: 0 6px;
        display: block;
    }


    aside {
        padding: 25px;
        align-items: flex-start;
        flex: 0 0 230px;
    }

    aside .logo {
        justify-content: flex-start;
    }

    aside .iconcont {
        width: 40px;
        text-align: center;
    }

    aside p{
        display: block;
    }

    aside .logo i {
        display: none;
    }

    aside .logo img {
        display: block;
        height: 40px;
    }
    aside .aside-nav {
        padding-top: 25px;
    }

    aside .aside-nav-item {
        padding-bottom: 7px;
        padding-top: 7px;
        padding-left: 2px;
        justify-content: flex-start;
        align-items: center;
    }

    aside .aside-nav-item:hover {
        border-left: 2px solid #adff2f;
    }



    aside .aside-nav i {
        padding: 8px 0;
    }

    .black-bar {
        top: 0;
        left: 230px;
        right: 0px;
        width: calc(100% - 230px);
            padding-right: 20px;
    }

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}
